In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = [[100,5],[90,7],[15,96],[20,105],[85,12],[18,110]]
df = pd.DataFrame(data,index='1 2 3 4 5 6'.split(),columns='X Y'.split())

In [3]:
df

     X    Y
1  100    5
2   90    7
3   15   96
4   20  105
5   85   12
6   18  110

In [123]:
def InitializeCentroid(k,data):
    df = pd.DataFrame(data,index='1 2 3 4 5 6'.split(),columns='X Y'.split())
    centroids = np.random.randint(low =df.min().min()  , high =df.max().max() ,size = (k,2))
    return centroids

In [172]:
def kMeans(data,k):
    centroids = InitializeCentroid(k,data)
    distances = np.array([np.sqrt(np.sum((data - centroid)**2,axis=1)) for centroid in centroids])
    distances = distances.transpose()
    index = np.argmin(distances,axis = 1).reshape(data.shape[0],1)
    index = index.astype('int')
    cluster = np.append(data,index,axis = 1)
    change = True
    while change != False:
        prev = index
        for i in np.unique(index):
            res = np.where(cluster[:,-1] == i)[0]
            res = res.astype('int')
            centroids[i,:] = np.mean(data[res,:],axis=0)
        distances = np.array([np.sqrt(np.sum((data - centroid)**2,axis=1)) for centroid in centroids])
        distances = distances.transpose()
        index = np.argmin(distances,axis = 1).reshape(data.shape[0],1)
        index = index.astype('int')
        cluster = np.append(data,index,axis = 1)
        change = not(np.array_equal(index,prev))
    return cluster,centroids

In [173]:
cluster,centroids = kMeans(data,3)

In [174]:
centroids

array([[ 17, 103],
       [102,  42],
       [ 91,   8]])